<?xml version="1.0" encoding="UTF-8" ?>
<routes>
  <route url="" controller="Home" action="index" />
  <route url="home" controller="Home" action="index" />
  <route url="logout" controller="Home" action="logout" />
  <route url="login" controller="Home" action="login" method="GET/POST" />
  <route url="subscribe" controller="Home" action="signup" method="GET/POST" />
  <route url="account" controller="Home" action="settings" method="GET/POST" />
  <route url="create-article" controller="Blog" action="create" method="POST/GET" />
  <route url="article-[i:id]" controller="Blog" action="read" method="POST/GET" />
  <route url="article-[i:id]/edit" controller="Blog" action="update" method="POST/GET" />
  <route url="article-[i:id]/delete" controller="Blog" action="delete" method="POST/GET" />
  <route url="comment-[i:id]/[s:action]" controller="Blog" action="comment" method="POST/GET" />
</routes>
